{% extends 'base.html' %}

{% block body %}

<div class="content" style="">
  <div class="wrapper permalink">
    <div class="topbar">
      <div class="breadcrumbs"><a class="level-console" href="/" data-permalink=""><span class="icon icon-console"></span></a><a class="level" href="/console/images/" data-permalink="">images</a><a class="level" href="/console/images/system/" data-permalink="">system</a><a class="level" href="/console/images/system/arch201310x64/" data-permalink="">arch201310x64</a></div>
    </div>
    <div class="description">
      <div class="detail-item">
        <div class="title">
          <h3>基本属性&nbsp;</h3>
        </div>
        <dl class="dl-horizontal">
          <dt>ID</dt>
          <dd><span class="id">arch201310x64</span></dd>
          <dt>名称</dt>
          <dd>Arch Linux 2013.10 64bit</dd>
          <dt>描述</dt>
          <dd>默认管理员 root，密码 p12cHANgepwD。新建主机后请务必修改密码！</dd>
          <dt>状态</dt>
          <dd class="available" width="35%"><span class="icon-status icon-available"></span>&nbsp; 可用</dd>
          <dt>文件大小</dt>
          <dd>20 G</dd>
          <dt>可见范围</dt>
          <dd>公用</dd>
          <dt>平台</dt>
          <dd>linux</dd>
          <dt>创建时间</dt>
          <dd class="time">2013-10-20 23:55:45</dd>
          <dt>运行时间</dt>
          <dd class="time">11 天</dd>
        </dl>
      </div>
      <div><a class="btn show-activity" href="#">显示操作日志</a></div>
    </div>
  </div>
</div>

{% end %}