{% extends 'base.html' %}

{% block body %}

<div class="content" style="">
  <div id="keypairs" class="wrapper permalink">
    <div class="topbar">
      <div class="breadcrumbs"><a class="level-console" href="/" data-permalink=""><span class="icon icon-console"></span></a><a class="level" href="/keypairs/" data-permalink="">keypairs</a><a class="level" href="/keypairs/{{ keypair.id }}/" data-permalink="">{{ keypair.id }}</a></div>
    </div>
    <div class="description">
      <div class="detail-item">
        <div class="title">
          <h3>基本属性&nbsp;</h3>
          <div class="dropdown">
            <input class="dropdown-toggle" type="text">
            <div class="dropdown-text"><span class="icon-menu"></span></div>
            <div class="dropdown-content"><a class="btn" href="#"><span class="icon icon-modify"></span><span class="text">修改</span></a><a class="btn" href="#"><span class="icon icon-keypairs"></span><span class="text">加载到主机</span></a><a class="btn btn-danger" href="#"><span class="icon icon-delete"></span><span class="text">删除</span></a></div>
          </div>
        </div>
        <dl class="dl-horizontal">
          <dt>ID</dt>
          <dd><span class="id">{{ keypair.id }}</span></dd>
          <dt>名称</dt>
          <dd>{{ keypair.name }}</dd>
          <dt>描述</dt>
          <dd></dd>
          <dt>加密方法</dt>
          <dd>ssh-rsa</dd>
          <dt>公钥</dt>
          <dd>
            <div class="pub-key">{{ keypair.public_key }}</div>
          </dd>
          <dt>应用主机</dt>
          <dd>
            <div class="ids" data-id="i-cfk0kie6"><a class="id" href="/instances/i-cfk0kie6/" data-permalink="">i-cfk0kie6</a><a class="btn-detach-keypair icon-close" href="#"></a></div>
            <br>
          </dd>
          <dt>创建时间</dt>
          <dd class="time">2013-10-31 11:10:02</dd>
        </dl>
      </div>
      <div><a class="btn show-activity" href="#">显示操作日志</a></div>
    </div>
  </div>
</div>

{% end %}