{% extends 'base.html' %}

{% block body %}

<div class="content" style="">
  <div class="wrapper page">
    <div class="page-intro">
      <h1>网络 networks</h1>
      <p class="lead">通过青云的SDN（软件定义网络）技术，您可以快速地搭建您专属的私有云环境。相比于基础网络而言，这个网络可以提供100%的安全隔离，而且有丰富的工具帮助您进行自动化管理。<br>要使用青云网络，请创建一个路由器，然后再创建一个或多个私有网络并连接到这个路由器，最后创建主机并加入到这些私有网络即可。</p>
    </div>
    <ul class="page-tabs">
      <li class="selected"><a href="/networks/routers/" data-permalink=""><span class="icon icon-routers"></span>路由器</a></li>
      <li class=""><a href="/networks/vxnets/" data-permalink=""><span class="icon icon-vxnets"></span>私有网络</a></li>
    </ul>
    <div class="pane-intro">青云路由器用于受管私有网络之间互联，并提供以下附加服务：DHCP 服务、端口转发、隧道服务和VPN 服务。如果您还希望路由器能接入互联网，请捆绑一个公网 IP 给该路由器即可。</div>
    <div class="pane">
      <div class="toolbar">
        <a class="btn" href="#"><span class="icon icon-refresh"></span></a><a class="btn" href="#"><span class="icon icon-create"></span><span class="text">新建</span></a>
        <div class="dropdown btn-disabled">
          <input class="dropdown-toggle" type="text">
          <div class="dropdown-text">更多操作...</div>
          <div class="dropdown-content"><a class="btn btn-forbidden" href="#"><span class="icon icon-modify"></span><span class="text">修改</span></a><a class="btn btn-forbidden" href="#"><span class="icon icon-router"></span><span class="text">应用修改</span></a><a class="btn btn-forbidden" href="#"><span class="icon icon-power-on"></span><span class="text">启动</span></a><a class="btn btn-forbidden" href="#"><span class="icon icon-power-off"></span><span class="text">关闭</span></a><a class="btn btn-forbidden" href="#"><span class="icon icon-recover"></span><span class="text">恢复</span></a><a class="btn btn-danger btn-forbidden" href="#"><span class="icon icon-delete"></span><span class="text">删除</span></a></div>
        </div>
        <div class="form-search"><input type="search" placeholder=" "></div>
        <div class="pagination"></div>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="checkbox"><input type="checkbox"></th>
            <th>ID</th>
            <th>名称</th>
            <th>
              状态
              <div class="dropdown">
                <input class="dropdown-toggle" type="text">
                <div class="dropdown-text"></div>
                <div class="dropdown-content"><a href="#" data-filter="status" data-status="active,pending,suspended">全部</a><a href="#" data-filter="status" data-status="active">活跃</a><a href="#" data-filter="status" data-status="pending">等待中</a><a href="#" data-filter="status" data-status="suspended">已暂停</a><a href="#" data-filter="status" data-status="deleted,ceased">已删除</a></div>
              </div>
            </th>
            <th>私有IP</th>
            <th>公网IP</th>
            <th>运行时间</th>
          </tr>
        </thead>
        <tbody>
          <tr id="rtr-h0cbjxg6">
            <td class="checkbox"><input type="checkbox"></td>
            <td><a class="id" href="/networks/routers/rtr-h0cbjxg6/" data-permalink="">rtr-h0cbjxg6</a></td>
            <td>t</td>
            <td class="active"><span class="icon-status icon-active"></span>&nbsp; 活跃</td>
            <td>10.50.13.145</td>
            <td><a class="id" href="/eips//" data-permalink=""></a></td>
            <td class="time">6 分钟</td>
          </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
      <p class="none" style="display: none;">结果为空</p>
      <p class="tips">* 提示：可通过在各个资源上点击 "右键" 来进行常用操作。</p>
      <div style="display: none;">
        <p class="loading">正在加载...</p>
      </div>
    </div>
  </div>
</div>

{% end %}